# 基础配置 这个个人用就随意
FLASK_SECRET_KEY=your_super_secret_key_change_this
#Flask端口
FLASK_PORT=8505

#本地模型model_name
DEFAULT_MODEL=qwen3-8b

# 本地AI 服务配置
OLLAMA_BASE_URL=http://localhost:11434/v1
OLLAMA_API_KEY=ollama

# openai模型配置
OPENAI_BASE_URL=https://api.deepseek.com
OPENAI_API_KEY=sk-xxxx
# 建议使用reasoner模型效果更好
OPENAI_MODEL=deepseek-reasoner

#视觉多模态模型
OPENAI_VL_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
OPENAI_VL_API_KEY=sk-xxx
VL_MODEL=qwen3.5-plus

# 向量化本地模型路径配置 (注意：在.env中路径建议使用正斜杠或双反斜杠)
# 下载链接：git clone https://www.modelscope.cn/sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2.git
EMBEDDING_MODEL_PATH=E:/models/paraphrase-multilingual-MiniLM-L12-v2

#下载链接：git clone https://www.modelscope.cn/Qwen/Qwen3-Embedding-0.6B.git
QWEN_EMBEDDING_DIR=E:/models/Qwen3-Embedding-0.6B

# 重排模型
# 下载链接：git clone https://www.modelscope.cn/Qwen/Qwen3-Reranker-0.6B.git
QWEN_RERANK_DIR=E:/models/Qwen3-Reranker-0.6B